<!doctype html>
<head>
<title>Robotic Choriography Planning Environment</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<script src="{{ url_for('static', filename='js/jquery-3.2.1.min.js') }}"></script>

<script> $('.code-win').css('background-color','blue');</script>
</head>

<body>
<div class=title-bar>
	<h1><span id="projName">Robotic Choriography Planning Environment</span></h1>
</div>

<div class=codetainer>

	<div class=nav-panel>
		<ul class=nav>
		<li><h1>ROBOT</h1>
			<ul id=rootNavList>
			<li><a class=inverseHover href=#>setup</a></li>
			</ul>
		</li>
		<li><h1>SUBROUTINES</h1>
			<ul id=subsNavList>
			<li><a class=inverseHover href=#>add new...</a></li>
			</ul>
		</li>
		<li><h1>END AFFECTORS</h1>
			<ul id=endsNavList>
			<li><a class=inverseHover href=#>add new...</a></li>
			</ul>
		</li>
		</ul>
	</div>

	<div class="code-win div-with-top-bar">
		<div class=top-bar> 
				<div class=dropdown>
				<a href=# >File</a>
				<div id=file-menu>
				</div>
				</div>
				<span id=file-name></span>
		</div>
		<textarea id=code-area class=boxsizingBorder></textarea>

	</div>

	<div class=shortcut-bar>

		<div class=menu>
			Tools
		</div>
		<a id=move href="#"><img src="{{ url_for('static', filename='img/move.png') }}" 
		title="move" onclick="insertAtCaret('code-area', 'GA'); return false;"></img></a>

		<a id=move href="#"><img src="{{ url_for('static', filename='img/move_here.png') }}" 
		title="move here"></img></a>

		<a id=move href="#"><img src="{{ url_for('static', filename='img/pause.png') }}" 
		title="pause" id="pause"></img></a>

		<script src="{{ url_for('static', filename='js/text-complete.js') }}"></script>	
	</div>


</div>

<div class=status-bar>

	<span id=current-pos>
		A: <span id=apos>--</span>
		B: <span id=bpos>--</span>
		C: <span id=cpos>--</span>
		X: <span id=xpos>--</span>
		Y: <span id=ypos>--</span>
		Z: <span id=zpos>--</span>
	</span>

</div>

<div id=modal class=div-with-top-bar style="display:none">
	<div id=modalTitle class=top-bar></div>
	<form id=modalForm> </form>
</div>

<script src="{{ url_for('static', filename='js/menu.js') }}"></script>

</body>
